{% extends 'changed/base_html.html' %}

{% block content %}
<!--Content goes here-->

<head>
    <title>ABOUT</title>
</head>

<body>
about about about about about about about about about about about about about about about about about about about about about
about about about about about about about about about about about about about about about about about about about about about
about about about about about about about about about about about about about about about about about about about about about
about about about
</body>
{% endblock %}