{% extends 'changed/base_html.html' %}
{% block content %}

<head>
        <title>Home</title>
        <!--Google Maps API: 
        https://developers.google.com/maps/documentation/javascript/overview#maps_map_simple-html-->

        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        <style type="text/css">
                /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
                #map {
                        height: 100%;
                }

                /* Optional: Makes the sample page fill the window. */
                html,
                body {
                        height: 100%;
                        margin: 0;
                        padding: 0;
                }
        </style>
        <script>
                function update(coords, lat, lng) {
                        var result = coords;
                        var xCoord = lat;
                        var yCoord = lng;
                        var output = "The current coordinates are " + result;
                        var xOutput = "x-value: " + xCoord.toString();
                        var yOutput = "y-value: " + yCoord.toString();
                        // Display result
                        document.getElementById("result").innerHTML = output;   // x and y
                        document.getElementById("xCoord").innerHTML = xOutput;  // x
                        document.getElementById("yCoord").innerHTML = yOutput;  // y
                }
                let map;

                function initMap() {
                        map = new google.maps.Map(document.getElementById("map"), {
                                center: { lat: 38.03431597661412, lng: -78.48429406636879 },
                                zoom: 15,

                        });
                        // Listener for when the user clicks on a place
                        map.addListener("click", (mapsMouseEvent) => {
                                xy = JSON.stringify(mapsMouseEvent.latLng.toJSON(), null, 2) // string representation of the x and y coordinates
                                x = mapsMouseEvent.latLng.lat() // x-coordinate retrieved as a number
                                y = mapsMouseEvent.latLng.lng() // y-coordinate retrieved as a number
                                update(xy, x, y)
                        });
                }
        </script>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
                integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
                crossorigin="anonymous">
</head>



<body>
        <div class="container-fluid">
                <div class="row">
                        <div class="col">
                                <div id="map" style="width:60vw; height: 80vh; margin-top:10px; margin-bottom: 10px;">
                                </div>
                                <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
                                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcKs56aiWAYfArUi4E_NH_2VZI2wrBshQ&callback=initMap&libraries=&v=weekly"
                                        async></script>
                        </div>
                        <div class="col">
                                <div class="card" style="margin:2vh">
                                        <h5 class="card-header text-center" style="color:#5d7fa3">Business Name</h5>

                                        <div class="card-body">
                                                <p style="color:rgb(122, 122, 122)">Business Address</p>
                                                <p>rating</p>
                                        </div>
                                </div>
                                <p id="result"></p>
                                <p id="xCoord"></p>
                                <p id="yCoord"></p>
                        </div>
                </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
</body>
{% endblock %}