{% extends 'changed/base_html.html' %}
{% block content %}

<head>
        <title>Home</title>
        <!--Google Maps API: 
        https://developers.google.com/maps/documentation/javascript/overview#maps_map_simple-html-->

        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        <style type="text/css">
                /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
                #map {
                        height: 100%;
                }

                /* Optional: Makes the sample page fill the window. */
                html,
                body {
                        height: 100%;
                        margin: 0;
                        padding: 0;
                }
        </style>
        <script>
                // updates the coordinates when we click anywhere on the map
                function update(coords, lat, lng) {
                        var result = coords;
                        var xCoord = lat;
                        var yCoord = lng;
                        var output = "The current coordinates are " + result;
                        var xOutput = "x-value: " + xCoord.toString();
                        var yOutput = "y-value: " + yCoord.toString();
                        // Display result
                        document.getElementById("result").innerHTML = output;   // x and y
                        document.getElementById("xCoord").innerHTML = xOutput;  // x
                        document.getElementById("yCoord").innerHTML = yOutput;  // y
                }
                // updates the business info when we click a new business (info shown in the card)
                function updateBusiness(pid, name, addr, rtg, hrs) {
                        var place = pid;
                        var business = name;
                        var address = addr;
                        var rated = rtg;
                        var hours = hrs;
                        var pidOutput = "PID: " + place;
                        var nameOutput = business;
                        var addrOutput = address;
                        var ratingOutput = "Rating: " + rated + "/5";
                        var hoursOutput = hours;
                        // Display result
                        document.getElementClassName("pid").innerHTML = pidOutput;   // pid
                        document.getElementById("name").innerHTML = nameOutput;   // name
                        document.getElementById("addr").innerHTML = addrOutput;   // address
                        document.getElementById("rating").innerHTML = ratingOutput;   // rating
                        document.getElementById("hours").innerHTML = hoursOutput;
                        document.getElementClassName("businessName").value = nameOutput;   // name
                }
                let map;

                function initMap() {
                        map = new google.maps.Map(document.getElementById("map"), {
                                center: { lat: 38.03431597661412, lng: -78.48429406636879 },
                                zoom: 15,

                        });
                        // Listener for when the user clicks on a place
                        map.addListener("click", (mapsMouseEvent) => {
                                xy = JSON.stringify(mapsMouseEvent.latLng.toJSON(), null, 2) // string representation of the x and y coordinates
                                x = mapsMouseEvent.latLng.lat() // x-coordinate retrieved as a number
                                y = mapsMouseEvent.latLng.lng() // y-coordinate retrieved as a number
                                update(xy, x, y)
                                //prevents default info box from appearing
                                mapsMouseEvent.stop()
                        });
                        // listen for when user clicks on a POI (point of interest)
                        map.addListener("click", (mapsMouseEvent) => {
                                const place = mapsMouseEvent.placeId
                                var placesService = new google.maps.places.PlacesService(map);
                                placesService.getDetails(
                                        { placeId: place },
                                        function (results) {
                                                // to see all place details in console, uncomment line below
                                                var d = new Date()
                                                updateBusiness(place, results.name, results.formatted_address, results.rating, results.opening_hours.weekday_text[(d.getDay() + 6) % 7])
                                        }
                                );
                                //prevents default info box from appearing
                                mapsMouseEvent.stop()

                        });
                        // code for the marker that shows up when you click the map
                        var marker;

                        google.maps.event.addListener(map, 'click', function (event) {
                                placeMarker(event.latLng);
                        });

                        function placeMarker(location) {

                                if (marker == null) {
                                        marker = new google.maps.Marker({
                                                position: location,
                                                map: map
                                        });
                                }
                                else {
                                        marker.setPosition(location);
                                }
                        }
                }
        </script>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
                integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
                crossorigin="anonymous">
</head>



<body>
        <div class="container-fluid">
                <div class="row">
                        <div class="col">
                                <!--Google maps-->
                                <div id="map" style="width:60vw; height: 80vh; margin-top:10px; margin-bottom: 10px;">
                                </div>
                                <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
                                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcKs56aiWAYfArUi4E_NH_2VZI2wrBshQ&callback=initMap&libraries=places&v=weekly"
                                        async></script>
                        </div>
                        <div class="col">
                                <!-- card containing business info and review form-->
                                <!--TODO: make card and its contents show up ONLY when we've clicked on a business (shouldn't show up when it's empty)-->
                                <div class="card" style="margin:2vh">
                                        <h5 class="card-header text-center" style="font-weight: bold; color:#5d7fa3"
                                                id="name" name="name">
                                        </h5>

                                        <div class="card-body">
                                                <p style="color:rgb(122, 122, 122)" id="addr"></p>
                                                <p style="color: #5d7fa3" id="hours"></p>
                                                <p id="rating"></p>
                                                <!-- TODO: display average COVID policy compliance rating from reviews-->
                                                <p>COVID Policy Compliance: /5</p>
                                                <!-- TODO: display latest reported capacity limit-->

                                                <!--TODO: button should redirect to another page with its reviews 
                                                        (like thoughtsList from the Django HW), or toggle to reveal list of reviews-->

                                                <form action="{% url 'changed:specificreview' %}" , method="POST">
                                                        {% csrf_token %}
                                                        <input hidden class="BusinessName" name="businessName" />
                                                        <input hidden class="pid" name="businessPid" />
                                                        <button type="submit" class="btn"
                                                                style="background-color:#5d7fa3; color:white">
                                                                Read Reviews
                                                        </button>
                                                </form>
                                                <!--button to write a review-->
                                                <a class="btn" data-toggle="collapse" href="#reviewform" role="button"
                                                        aria-expanded="false" aria-controls="reviewform"
                                                        style="background-color:#5d7fa3; color:white">
                                                        Write Review
                                                </a>

                                                <div class="collapse" id="reviewform">
                                                        <!--review form-->
                                                        <form action="{% url 'changed:processreview' %}" ,
                                                                method="POST">
                                                                {% csrf_token %}
                                                                <!--Business name-->
                                                                <input hidden class="businessName" name="businessName">
                                                                <!--Business pid-->
                                                                <input hidden class="pid" name="businessPid" />
                                                                <!--covid policy rating-->
                                                                <div class="form-group">
                                                                        <br>
                                                                        <label for="rating">COVID Policy
                                                                                Compliance
                                                                                Rating:</label>
                                                                        <select class="form-control" id="rating"
                                                                                required>
                                                                                <option value="" selected disabled>--
                                                                                        select an
                                                                                        option --</option>
                                                                                <option id="1" , value="1">1</option>
                                                                                <option id="2" , value="2">2</option>
                                                                                <option id="3" , value="3">3</option>
                                                                                <option id="4" ,value="4">4</option>
                                                                                <option id="5" , value="5">5</option>
                                                                        </select>
                                                                </div>
                                                                <!--covid dining policy checkboxes-->

                                                                <div class="form-group">
                                                                        <div class="form-check">
                                                                                <div>
                                                                                        <input class="form-check-input"
                                                                                                type="checkbox" value=""
                                                                                                id="indoor">
                                                                                        <label class="form-check-label"
                                                                                                for="indoor">
                                                                                                Indoor
                                                                                                Dining</label>
                                                                                </div>
                                                                                <div>
                                                                                        <input class="form-check-input"
                                                                                                type="checkbox" value=""
                                                                                                id="outdoor">
                                                                                        <label class="form-check-label"
                                                                                                for="outdoor">
                                                                                                Outdoor
                                                                                                Dining</label>
                                                                                </div>
                                                                                <div>
                                                                                        <input class="form-check-input"
                                                                                                type="checkbox" value=""
                                                                                                id="pickup">
                                                                                        <label class="form-check-label"
                                                                                                for="pickup">
                                                                                                Pickup</label>
                                                                                </div>
                                                                                <div>
                                                                                        <input class="form-check-input"
                                                                                                type="checkbox" value=""
                                                                                                id="curbside">
                                                                                        <label class="form-check-label"
                                                                                                for="curbside">
                                                                                                Curbside</label>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                                <!-- place to specify capacity limit, or "none" if there isn't one-->
                                                                <div class="form-group">
                                                                        <label for="title"
                                                                                class="col-form-label">Capacity
                                                                                Limit:</label>
                                                                        <input type="text" class="form-control"
                                                                                id="capacity-limit">
                                                                </div>

                                                                <!--place for other comments-->
                                                                <div class="form-group">
                                                                        <label for="review-text"
                                                                                class="col-form-label">Additional
                                                                                Comments:</label>
                                                                        <textarea class="form-control" id="review-text"
                                                                                name="review-text"></textarea>
                                                                </div>
                                                                <!-- submit button -->
                                                                <!-- TODO: on submit, save review to database -->
                                                                <button type="submit"
                                                                        class="btn btn-secondary">Submit</button>
                                                        </form>
                                                </div>
                                        </div>
                                </div>
                                <div style="display:none">
                                        <!-- extraneous info, could be helpful for backend stuff-->
                                        <p id="result"></p>
                                        <p id="xCoord"></p>
                                        <p id="yCoord"></p>
                                        <p id="pid"></p>
                                        <!--The below line won't work because only one element can have id=name-->
                                        <p id="name"></p>
                                </div>
                        </div>

                </div>

                <!-- Optional JavaScript -->
                <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                        crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                        crossorigin="anonymous"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                        crossorigin="anonymous"></script>
</body>

{% endblock %}