{% extends 'changed/base_html.html' %}
{% block content %}
{% load static %}

<head>
        <title>Home</title>
        <!--***************************************************************************************************************
        * REFERENCE
        * Title: Google Maps API: Simple Map
        * URL: https://developers.google.com/maps/documentation/javascript/overview#maps_map_simple-html
        * Software License: Apache 2.0 License
        ***************************************************************************************************************/-->
        <!--***************************************************************************************************************
        * REFERENCE
        * Title: Google Maps API: Places Searchbox
        * URL:  https://developers.google.com/maps/documentation/javascript/examples/places-searchbox
        * Software License: Apache 2.0 License
        ***************************************************************************************************************/-->

        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        <style type="text/css">
                /* Always set the map height explicitly to define the size of the div
                   element that contains the map. */
                #map {
                        height: 100%;
                }

                /* Optional: Makes the sample page fill the window. */
                html,
                body {
                        height: 100%;
                        margin: 0;
                        padding: 0;
                }

                #description {
                        font-family: Roboto;
                        font-size: 15px;
                        font-weight: 300;
                }

                #infowindow-content {
                        display: none;
                }

                #map #infowindow-content {
                        display: inline;
                }

                .card {
                display: none;
                visibility: hidden;
                }

                .pac-card {
                        margin: 10px 10px 0 0;
                        border-radius: 2px 0 0 2px;
                        box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        outline: none;
                        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
                        background-color: #fff;
                        font-family: Roboto;
                }

                #pac-container {
                        padding-bottom: 12px;
                        margin-right: 12px;
                }

                .pac-controls {
                        display: inline-block;
                        padding: 5px 11px;
                }

                .pac-controls label {
                        font-family: Roboto;
                        font-size: 13px;
                        font-weight: 300;
                }

                #pac-input {
                        background-color: #fff;
                        font-family: Roboto;
                        font-size: 15px;
                        font-weight: 300;
                        margin-left: 12px;
                        padding: 0 11px 0 13px;
                        text-overflow: ellipsis;
                        width: 400px;
                }

                #pac-input:focus {
                        border-color: #4d90fe;
                }


                #target {
                        width: 345px;
                }
        </style>
        <script>
            // updates the coordinates when we click anywhere on the map
            function update(coords, lat, lng) {
                var result = coords;
                var xCoord = lat;
                var yCoord = lng;
                var output = "The current coordinates are " + result;
                var xOutput = "x-value: " + xCoord.toString();
                var yOutput = "y-value: " + yCoord.toString();
                // Display result
                document.getElementById("result").innerHTML = output;   // x and y
                document.getElementById("xCoord").innerHTML = xOutput;  // x
                document.getElementById("yCoord").innerHTML = yOutput;  // y
            }
            // updates the business info when we click a new business (info shown in the card)
            function updateBusiness(pid, name, addr, rtg, hrs) {
                var place = pid;
                var business = name;
                var address = addr;
                var rated = rtg;
                var hours = hrs;
                var pidOutput = place;
                var nameOutput = business;
                var addrOutput = address;
                var ratingOutput = "Rating: " + rated + "/5";
                var hoursOutput = "Hours: " + hours;
                document.getElementById("name").innerHTML = nameOutput;   // name
                document.getElementById("addr").innerHTML = addrOutput;   // address
                document.getElementById("rating").innerHTML = ratingOutput;   // rating
                document.getElementById("hours").innerHTML = hoursOutput;
                document.getElementById("businessName").value = nameOutput;
                document.getElementById("readBusinessName").value = nameOutput;
                document.getElementById("covidName").value = nameOutput;
                document.getElementById("pid").value = pidOutput;
                /***************************************************************************************************************
                 * REFERENCE
                 * Title: How to Work with Ajax Request with Django
                 * Author: Vitor Freitas
                 * URL: https://simpleisbetterthancomplex.com/tutorial/2016/08/29/how-to-work-with-ajax-request-with-django.html
                 * JQuery License: MIT
                 ***************************************************************************************************************/
                var name = $('#covidName').val();
                var pid = $('#pid').val();
                $.ajax({
                        url: '/rating',
                        data: {
                            'name': name,
                            'pid':pid
                        },
                        dataType: 'json',
                        success: function (data) {
                            $('#avg-rtg').text(data.rtg);
                            $('#capacity').text(data.capacity_limit);
                            $('#readPid').val(data.pid);
                            $('#busPid').val(data.pid);
                        }
                });
            }
                let map;

                function initMap() {
                        map = new google.maps.Map(document.getElementById("map"), {
                                center: { lat: 38.03431597661412, lng: -78.48429406636879 },
                                zoom: 15,

                        });
                        // Listener for when the user clicks on a place
                        map.addListener("click", (mapsMouseEvent) => {
                                xy = JSON.stringify(mapsMouseEvent.latLng.toJSON(), null, 2) // string representation of the x and y coordinates
                                x = mapsMouseEvent.latLng.lat() // x-coordinate retrieved as a number
                                y = mapsMouseEvent.latLng.lng() // y-coordinate retrieved as a number
                                update(xy, x, y)
                                //prevents default info box from appearing
                                mapsMouseEvent.stop()
                        });
                        // listen for when user clicks on a POI (point of interest)
                        map.addListener("click", (mapsMouseEvent) => {
                                const place = mapsMouseEvent.placeId
                                var placesService = new google.maps.places.PlacesService(map);
                                placesService.getDetails(
                                        { placeId: place },
                                        function (results) {
                                                var d = new Date()
                                                updateBusiness(results.place_id, results.name, results.formatted_address, results.rating, results.opening_hours.weekday_text[(d.getDay() + 6) % 7])
                                        }
                                );
                                //prevents default info box from appearing
                                mapsMouseEvent.stop()

                        });
                        // code for the marker that shows up when you click the map
                        var marker;

                        google.maps.event.addListener(map, 'click', function (event) {
                                placeMarker(event.latLng);
                        });
                        function openDiv() {
                            var element = document.getElementById("businessCard")
                            element.style.display = "block"
                            element.style.visibility = "visible"
                        }
                        function placeMarker(location) {

                                if (marker == null) {
                                        marker = new google.maps.Marker({
                                                position: location,
                                                map: map
                                        });
                                }
                                else {
                                        marker.setPosition(location);
                                }
                                openDiv()
                        }

                        // Create the search box and link it to the UI element.
                        const input = document.getElementById("pac-input");
                        const searchBox = new google.maps.places.SearchBox(input);
                        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
                        // Bias the SearchBox results towards current map's viewport.
                        map.addListener("bounds_changed", () => {
                                searchBox.setBounds(map.getBounds());
                        });
                        // Listen for the event fired when the user selects a prediction and retrieve
                        // more details for that place.
                        searchBox.addListener("places_changed", () => {
                        const places = searchBox.getPlaces();

                        if (places.length == 0) {
                                return;
                        }

                        // For each place, get the icon, name and location.
                        const bounds = new google.maps.LatLngBounds();
                        places.forEach((place) => {
                        if (!place.geometry || !place.geometry.location) {
                                console.log("Returned place contains no geometry");
                                return;
                        }
                        const icon = {
                                url: place.icon,
                                size: new google.maps.Size(71, 71),
                                origin: new google.maps.Point(0, 0),
                                anchor: new google.maps.Point(17, 34),
                                scaledSize: new google.maps.Size(25, 25),
                        };


                        if (place.geometry.viewport) {
                                // Only geocodes have viewport.
                                bounds.union(place.geometry.viewport);
                        } else {
                                bounds.extend(place.geometry.location);
                        }
                        });
                        map.fitBounds(bounds);
                        map.setZoom(20);
                        });
            }
        </script>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
                integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
                crossorigin="anonymous">
</head>



<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <!--Google maps-->

                <input id="pac-input"
                       class="controls"
                       type="text"
                       placeholder="Enter a location and click on the icon to view details" />
                <div id="map" style="width:60vw; height: 80vh; margin-top:10px; margin-bottom: 10px;">
                </div>
                <div id="infowindow-content" style="display:none">
                    <p id="notification"></p>
                </div>
                <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcKs56aiWAYfArUi4E_NH_2VZI2wrBshQ&callback=initMap&libraries=places&v=weekly"
                        async></script>
            </div>
            <div class="col">
                <!-- card containing business info and review form-->
                <div class="card" id="businessCard" style="margin:2vh">
                    <h5 class="card-header text-center" style="font-weight: bold; color:#5d7fa3"
                        id="name" name="name">
                    </h5>

                    <div class="card-body">
                        <p style="color:rgb(122, 122, 122)" id="addr"></p>
                        <p id="hours" style="color: #5d7fa3"></p>
                        <p id="rating"></p>
                        
                        <div>
                            <span id="covidName" style="display:none"></span>
                            <span id="pid" style="display:none"></span>
                            <p> COVID Policy Compliance: <span id="avg-rtg"></span>/5</p>
                            <p> Current Capacity Limit: <span id="capacity"></span></p>
                        </div>
                        
                        <form action="{% url 'changed:specificreview' %}" , method="POST">
                            {% csrf_token %}
                            <input hidden id="readBusinessName" name="businessName" />
                            <input hidden id="readPid" name="businessPid" />
                            <button type="submit" class="btn"
                                    style="background-color:#5d7fa3; color:white">
                                Read Reviews
                            </button>
                        </form>
                        <!--button to write a review-->
                        <a class="btn" data-toggle="collapse" href="#reviewform" role="button"
                           aria-expanded="false" aria-controls="reviewform"
                           style="background-color:#5d7fa3; color:white">
                            Write Review
                        </a>

                        <div class="collapse" id="reviewform">
                            <!--review form-->
                            <form action="{% url 'changed:processreview' %}" ,
                                  method="post">
                                {% csrf_token %}
                                <input hidden id="busPid" name="businessPid" />
                                <input hidden id="businessName" name="businessName" />
                                <div class="form-control">
                                    <div class="fieldWrapper">
                                        {{ form.covid_compliance_rating.errors }}
                                        {{ form.covid_compliance_rating.label_tag }}
                                        {{ form.covid_compliance_rating }}
                                    </div>
                                    <div class="fieldWrapper" style="width:200px">
                                        {{ form.capacity_limit.errors }}
                                        {{ form.capacity_limit.label_tag }}
                                        {{ form.capacity_limit }}
                                    </div> <br />
                                    <div class="form-group">
                                        <div class="fieldWrapper col-med-4 radio-inline">
                                            {{ form.indoor_dining.errors }}
                                            {{ form.indoor_dining.label_tag }}
                                            {{ form.indoor_dining }}
                                        </div>
                                        <div class="fieldWrapper col-med-4 radio-inline">
                                            {{ form.outdoor_dining.errors }}
                                            {{ form.outdoor_dining.label_tag }}
                                            {{ form.outdoor_dining }}
                                        </div>
                                        <div class="fieldWrapper col-med-4 radio-inline">
                                            {{ form.curbside_pickup.errors }}
                                            {{ form.curbside_pickup.label_tag }}
                                            {{ form.curbside_pickup }}
                                        </div>
                                        <div class="fieldWrapper col-med-4 radio-inline">
                                            {{ form.delivery.errors }}
                                            {{ form.delivery.label_tag }}
                                            {{ form.delivery }}
                                        </div>
                                    </div>
                                    <div class="fieldWrapper form" style="width:200px">
                                        {{ form.body.errors }}
                                        {{ form.body.label_tag }}<br />
                                        {{ form.body }}
                                    </div> <br />
                                    <button type="submit" , value="submit" ,
                                            class="btn btn-secondary">
                                        Submit
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div style="display:none">
                    <!-- extraneous info, could be helpful for backend stuff-->
                    <p id="result"></p>
                    <p id="xCoord"></p>
                    <p id="yCoord"></p>
                </div>
            </div>

        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</body>

{% endblock %}