<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    Login here through our normal system:
    <form action="{% url 'changed:authenticate'%}", method="POST">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text", id="username", name="username">
        <br>
        <label for="password">Password:</label>
        <input type="text", id="password", name="password">
        <input type="submit", value="Login">
    </form>
    <a href="{% url 'changed:signup' %}">Click here to signup</a>

    Login through google:

</body>
</html>