{% extends 'changed/base_html.html' %}

{% block content %}
<!--Content goes here-->

<head>
    <title>{{user.username}}</title>
</head>


<body class="d-flex flex-column min-vh-100">
    <div class="wrapper flex-grow-1">
        <div class="container" style="margin-bottom:60px">
            <div class="text-center" style="margin:2vh">
                <h3>{{user.username}}'s Reviews</h3>
            </div>
            {% for review in user_reviews %}
            <div class="card mx-auto row justify-content-md-center" style="margin:1vh; width: 50vw">
                <h5 class="card-header">{{review.business.business_name}}</h5> <!-- TODO: have date of review show up-->
                <div class="card-body">
                    <p>COVID Compliance Rating: {{review.covid_compliance_rating}}/5</p>
                    <p>Review: {{review.body}}</p>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</body>
{% endblock %}